
.container{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}



.nav {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: lightseagreen;
}

.nav button {
  flex: 0 0 10%;
  width: 180px;
  height: 60px;
  border-color: black;
  margin: 20px;
  font-size: calc(10px + 2vmin);
  background-color: lightsteelblue;
}



.profile{
  flex: 0 0 100%;
  display: flex;
  flex-flow: column;
  background-color: lightseagreen;
}

.box-profile{
  display: flex;
  flex-flow: column;
  margin-left: 25%;
  margin-right: 25%;
  border: solid;
  background-color: white;
}
.box-profile img{
  margin-left: 35%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.box-profile-description{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
}
.box-profile-description a{
  flex: 0 0 50%;
  margin-bottom: 5%;
}


.box-profile-style{
  display: flex;
  flex-flow: row;
  flex-direction: row-reverse;
}
.box-profile-style button{
  flex: 0 0 20%;
  width: 160px;
  height: 50px;
  border-color: black;
  margin: 2%;
  font-size: calc(5px + 2vmin);
  background-color: lightsteelblue;
}



.box-last-comment{
  display: flex;
  flex-flow: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  border: solid;
  background-color: white;
}

.box-last-comment a{
  margin: 2%;
  font-size: calc(3px + 2vmin);
}

.box-last-comment button{
  flex: 0 0 15%;
  width: 180px;
  height: 50px;
  border-color: black;
  margin: 2%;
  font-size: calc(5px + 2vmin);
  font-style: italic;
  background-color: lightsteelblue;
}